<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <% if('undefined' != typeof subtitle) {%>
        <title>Node Shop -- <%=subtitle%></title>
    <%} else {%>
        <title>Node Shop</title>
    <%}%>

    <%- partial ('partials/head.ejs') %>

</head>

<body>

    <div id="wrapper">

        <%- partial('partials/menu.ejs')%>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <%- body %>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/sb2/bower_components/jquery/dist/jquery.min.js"></script>

    <%- partial ('partials/foot.ejs') %>

</body>

</html>
